@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");
input{
    transition: box-shadow 0.3s ease;
}
input:hover{
    box-shadow: 0 0 20px red;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
  background-position: center;
  background-size: cover;
}

.container {
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 4px solid rgba(236, 13, 13, 0.5);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(8px);
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
}

header {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #f31414;
}

.input-box {
  position: relative;
  margin: 15px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #e40a0a;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-box input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: 4px solid #994848;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #0e0d0d;
  padding: 0 15px;
}

.input-box input:focus~label,
.input-box input:valid~label {
  font-size: 0.8rem;
  top: -10px;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 5px;
  border-radius: 3px;
}

button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(235, 15, 15, 0.15);
}